*,  *::after, *::before{
box-sizing: border-box;
}

/* Fonts loaded*/
@font-face{

	font-family:'Aclonica';
	font-weight: bold;
	font-style: normal;
	src: url('Aclonica.ttf');

}


@font-face{

	font-family:'JosefinSans';
	font-weight: bold;
	font-style: normal;
	src: url('JosefinSans.ttf');

}
@font-face{

	font-family:'JosefinSans';
	font-weight: lighter;
	font-style: normal;
	src: url('JosefinSans.ttf');

}

body{
  margin:0;
}

@font-face{

	font-family:'Muli';
	font-style: normal;
	src: url('Muli.ttf');
}

/* Fonts loaded*/





/* Fonts assigned to text elements*/

h1{
	font-family: 'Aclonica';
	font-size:3.5rem;
  color:white;
	
}

h2{
	font-family: 'JosefinSans';
	font-size:2.5rem;
	margin-bottom: 0.5rem;
}

h3{
	font-family: 'JosefinSans';
	font-weight: lighter;
	font-size:2rem;
	margin-bottom: 0.5rem;
}


li,a,p{
	font-family: 'Muli';
	font-size: 1rem;
	
}

/* Fonts assigned to text elements ends*/


header{
  display:inline-block;
  padding:0.5rem 8.9%;
  font-size:1.5rem;
  background-color:#45A2B7; 
}






/*  NAV BAR  */

.nav-container li {

 list-style: none; 
 display: inline-block;
 padding: 0.5rem 0.5rem; 
 padding-top: 0.5rem;
 border-radius: 0.5rem;
 margin-bottom: 1rem;
 margin-top: 2.5rem;
}

.nav-container li {
   
  border-style:solid;
  border-width: 0.05rem;
  text-decoration: none;
  border-color: white;
}
.nav-container li a {
  color:white;
    text-decoration: none;

}
.nav-container li:hover{
  background-color: #FF7A00;
  color: white;
}

/*  NAV BAR ENDS */





.parent-container{

  margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
}

.parent-container{

  padding:4em;
  padding-top:2em;
}



.product-container{

  display:flex;
  flex-wrap: wrap;
}

.product-container{

  margin-left:50px;
  margin-right:50px;
  margin-bottom:5em;
  justify-content: space-around;
}

.product-item{

  margin-bottom:50px;
  margin:30px;
}

.img{
  background-color: #FDEC94;
  border:solid;
  border-width:0.05rem;
  width:100%;
  height: auto;
}

.rent-button 
{

  text-align: center;
  margin-top:0.3rem;
  

}

.rent-button a{
  text-decoration: none;
  color: white;
  border-style:solid;
  border-width:0.01rem;
  border-radius:0.5rem;
background-color: #45A2B7
}

.rent-button a{
  padding:0.3rem 0.3rem 0.3rem;
  }

.rent-button a:hover{
  background-color: #FF7A00;
  color: white;
  cursor:pointer;
}






@media (max-width: 500px) {
  .parent-container .header  .product-container{
    display: block;
  }
}